@charset "utf-8";
@font-face {
  font-family: "JasonHandwriting2-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff) format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* frame style */
/* desktop display */
body{
  background: #DFDFDF;
  margin: 0em;
  padding: 0em;
}
.language_setting{
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0em;
  padding: 0em;
}
.lan_but{
  display: block;
  float: right;
  margin-right: 3%;
  padding: 0em;
  border-style: none;
  background-color: inherit;
}
a{
  padding: 0.25em;
  text-decoration: none;
  color: black;
}
a:hover{
  color: #ff5700;
}
.container{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 18em;
  grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
}
header{
  text-align: center;
  background:
    url("../image/bwgradient.png") bottom left/100% 8px repeat-x border-box;
  background-color: #CCCCCC;
  margin-bottom: 0.25em;
  padding: 2.25em 0em 1.25em 0em;
  grid-area: header;
}
.banner:hover > img{
  filter: invert(200%);
  /* filter: contrast(200%); */
  /* border-radius: 100px; */
}
h1, h2, h3{
  font-family: 'Ubuntu Mono', monospace;
}
.banner{
  display: inline-flex;
}
.banner h1{
  padding: 0.75em 0.2em 0.5em 0.2em;
  font-size: 2.5em;
}
.menu{
  margin: 1.0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
dl{
  margin: 0em;
  padding: 0em;
}
.menu dd{
  display: inline-flex;
  margin: 0em 0.5em 0.5em 0.5em;
  padding: 0em;
}
.menu a{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3em;
  display: block;
}
.menu a:hover{
  background-color: #252525;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
}
main {
  grid-area: main;
}
.post{
  background-color: #CCCCCC;
  margin: 1em 1em 0.5em 1em;
  padding: .75em 1.25em 1em 1.25em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.post > h2{
  margin: 0.5em 0em 1.0em 0em;
  text-align: center;
}
.post p{
  font-family: 'Averia Serif Libre', "Helvetica", Sans-serif;
  line-height: 1.5;
  text-indent: 1em;
}
.post a{
  text-decoration: underline;
}
.post img{
  border-radius: 5px;
  border: 2px solid white;
  filter: saturate(1.5);
}
.post img:hover{
  filter: invert(200%);
}
aside {
  margin: 1em 0.75em 0em 0.5em;
  grid-area: sidebar;
}
aside > div{
  margin-bottom: 2em;
}
.sidebar_aboutme p{
  text-align: center;
  font-family: 'Caveat', 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin-top: 0em;
}
.sidebarbioimg{
  filter: saturate(1.5);
  border-radius: 100px;
  margin: 30px 0 1em 1em;
  box-shadow: 50px -25px 5px 0 rgba(255, 90, 0, 0.15)
}
.sidebarbioimg:hover{
  filter: invert(200%);
}
.search-container input[type=text]{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
  border: 2px solid #CCCCCC;
  border-right: none;
  border-radius: 2px;
  height: 30px;
  width: 70%;
  float:left;
}
.search-container button{
  padding: 8px 10px;
  background: #CCCCCC;
  font-size: 17px;
  border: none;
  cursor: pointer;
  float:none;
  border-radius: 2px;
}
.search-container button:hover{
  background-color: #AAAAAA;
}
.widget{
  margin: 0em 0em 0em 2em;
  padding: 0em;
  height: 64px;
  width: 140px;
}
#comoma{
  margin-bottom: .75em;
}
.socialmedia{
  height: 64px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CCCCCC;
  border-radius: 50px;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.5);
  transition:
    background-color 0.3s,
    box-shadow 0.1s,
    align-items 0.1s;
}
.socialmedia a{
  padding: 0em;
  margin: 0em;
  font-size: 50px;
  width: 140px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 7px;
  transition:
    font-size 0.3s,
    top 0.1s;
}
#comoma a{
  top: 3px;
  font-family: 'Cooper Black', monospace;
}
.socialmedia:hover{
  background: #EAEAEA;
}
.socialmedia:hover a{
  font-size: 65px;
  top: 0px;
  background: linear-gradient(135deg, red, red, red, red, red, orange, yellow, green, blue, indigo, violet, violet, violet, violet, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socialmedia:focus, .socialmedia:active{
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.resource dl dt{
  margin: 0em 0em 0.5em 0em;
  /* font-size: 0.8em; */
}
.resource a{
  margin-left: 2em;
  font-family: "Segoe UI", 'Helvetica', Arial, sans-serif;
}
footer{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  background:
    url("../image/wbgradient.png") top left/100% 8px repeat-x border-box;
    /* url("../image.png") 25px 25px/100px no-repeat; */
  background-color: #CCCCCC;
  margin-top: 1em;
  padding: 0.5em 0.2em 1em 0.2em;
  text-align: center;
  grid-area: footer;
}
.footer_container{
  justify-content: center;
  margin-top: .5em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 300px 250px 100px;
  grid-template-areas:
      "footerlogo footerlink footersocialmedia"
      "copyright copyright copyright";
}
.footerlogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: footerlogo;
}
.footerlogo a img:hover{
  filter: none;
}
.footerlink{
  display: block;
  padding: 1em 0em 1em 2em;
  text-align: left;
  grid-area: footerlink;
}
.footerlink dl dt{
  margin: 0.5em 0em 0em 1.5em;
  font-size: 0.8em;
}
.footersocialmedia{
  margin: 1em 0em 0em 0em;
  grid-area: footersocialmedia;
}
.footersocialmedia a{
  font-size: 30px;
}
.ft_comoma{
  padding: 7.5px 9.565px 7.5px 9.565px;
  font-family: 'Cooper Black', monospace;
}
.copyright{
  margin-top: 0.75em;
  grid-area: copyright;
}

/* tablet display */
@media (max-width: 750px) {
  .container {
    /* max-width: 48%; */
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
  }
  aside{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .sidebar_aboutme{
    text-align: center;
  }
}

/* index post display */
.index_post{
  height: 800px;
}
.index_post iframe{
  background: white;
  width: 99%;
  height: 90%;
}
