@charset "utf-8";
/* frame style*/
body{
  background-color: #fffeff;
  margin: 0em 0em 0em 0em;
  padding: 0em;
}

a{
  text-decoration: none;
  color: #540b00;
}
a:hover{
  color: red;
}

.topheader{
  display: inline-grid;
  grid-template-columns: auto auto;
  width: 100%;
}
.top_left{
  text-align: left;
  margin-left: 1em;
}
.top_right{
  text-align: right;
  margin-right: 1em;
}
.banner{
  display: inline-grid;
  grid-template-columns: auto 100px 100px 255px 100px 100px auto;
  width: 100%;
  font-family: "Cooper Black", "Helvetica", Sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.banner div{
  text-align: center;
  margin: auto;
}
main{
  margin-top: 1em;
}
.carousel{
  padding: 0;
}
p{
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.25;
}
section{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.about{
  background-color: #fff2e8;
}
footer {
  margin: 0em;
  padding: 0.5em 0.2em 0.5em 0.2em;
  text-align: center;
  background-color: #540b00;
  color:#fffeff;
  font-family: "Cooper", "Helvetica", Sans-serif;
  font-weight: lighter;
  min-height: 50px;
}
.copyright{
  margin-top: 1em;
}
