@charset "utf-8";
html{
  margin:0px;
  padding: 0px;
  min-height: 100%;
}
body{
  background: #202020;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
#container{
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
}
header{
  /* font-size: 20px; */
  height: 245px;
  text-align: center;
  background-image: url("../images/logo.jpg");
  background-blend-mode: luminosity;
  margin: 1.5em 0.5em 1em 0.5em;
  padding: 2.0em 0.2em 2.0em 0.2em;
  color: orange;
  grid-area: header;
}
@media (max-width: 358px) {
  header {
    height: 395px;
  }
}
#menu{
  padding: inherit;
}
dd{
  line-height: 2;
  display: inline;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
#menu a{
  color: red;
  font-size: 1.3em;
  text-decoration: none;
}
#menu a:hover{
  color: yellow;
  font-size: 1.5em;
}
main{
  margin: 0em 1.25em 1em 1.25em;
  padding: 2.0em 1.0em 2.0em 1.0em;
  grid-area: main;
}
h3{
  font-size: 30px;
  color: #ff8000;
}
p{
  line-height: 1.5;
  font-size: 20px;
  color: orange;
}
footer{
  /* margin: 1.5em 0.5em 2em 0.5em; */
  padding: 1.5em 0.2em 2.0em 0.2em;
  text-align: center;
  background-color: #353535;
  grid-area: footer;
}
footer a, footer p{
  text-decoration: none;
  color: lightgrey;
}
footer a:hover{
  color: black;
}
small{
  color: grey;
}
/* index page*/
.index_gallery img{
  max-width: 95%;
  display: inline-block;
}
/* itineray page*/
#schedule_block{
  background-image: url("../images/spookywitch_resize960x640.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* gallery page */
.gallery_block{
  margin-top: 2em;
}
.breakpoint img{
  width: 100%;
  height: auto;
}
.breakpoint { /* One column for smartphones */
  max-width: 100%;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 4px;
}
@media (min-width: 420px) { /* Two columns for tablets */
  .breakpoint {
    max-width: 48%;
  }
}
@media (min-width: 900px) { /* Four columns for large devices */
  .breakpoint {
    max-width: 24%;
  }
}
